Language: Cpp
BreakBeforeBraces: Attach
PointerAlignment: Left
TabWidth: 2
IndentWidth: 2
AccessModifierOffset: 0
ColumnLimit: 100
NamespaceIndentation: All
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakTemplateDeclarations: true
UseTab: Never
AccessModifierOffset: -2