Language: Cpp
BreakBeforeBraces: Attach
PointerAlignment: Left
TabWidth: 2
IndentWidth: 2
AccessModifierOffset: 0
ColumnLimit: 200
NamespaceIndentation: All
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakTemplateDeclarations: true
UseTab: Never