# exclude all files and folders
/*
/src/RootDir.h

# add exception
!/.gitignore
!/.clang-format
!/clang-format-all
!/CMakeLists.txt
!/LICENSE.md
!/license.svg
!/readme.md
!/third_party/
!/src/
!/test/
!/res/
!/shaders/
!/cmake/
!/sample/